*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata/*
*.zip
*.prefs
*.txt
*.classpath
.recommenders/*
Lab04/src/Huffman.java
./Lab04/*
Lab04/*
Lab04/src/*.java
Lab04/*.dat
Lab04/src/gophersCompressed.dat
Lab04/src/Huffman.java
Exam/*